* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}        

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 242, 226);
}

header {
    background-color: yellowgreen;
    display: flex;
    padding: 5px;
    color: rgb(50, 90, 10);
}

.calendar-widget {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
    margin: 30px auto;
}

.calendar-widget input[type="radio"] {
    display: none;
}

.calendar-widget > *, .seasonality .outer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

.calendar-widget > * {
    cursor: pointer;
}

.calendar-widget label span {
    border-radius: 3px;
    padding: 2px 4px;
    display: flex;
}

.calendar-widget label input:checked ~ span {
    background-color: yellowgreen;
    color: rgb(50, 90, 10);
}

#output {
    display: flex;
    flex-direction: column;
}

h1 {
    border-bottom: 2px solid yellowgreen;
    margin: 1em 0;
    padding: 0 1em;
}

img {
    width: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

td {
    padding: 5px;
    text-align: center;
}

.seasonality {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 10px;
    max-width: 200px;
    margin: auto;
}

