<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Crossing Fish/Bug Calendar</title>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ed7b1e6505.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
</head>
<body>
    <header id="header">
        <h1>Animal Crossing Fish/Bugs Calendar</h1>
    </header>

    <div class="calendar-widget">
        <label>
            <input type="radio" name="month" id="january" value="january">
            <span>Jan.</span>
        </label>
        <label>
            <input type="radio" name="month" id="february" value="february">
            <span>Feb.</span>
        </label>
        <label>
            <input type="radio" name="month" id="march" value="march">
            <span>Mar.</span>
        </label>
        <label>
            <input type="radio" name="month" id="april" value="april">
            <span>Apr.</span>
        </label>
        <label>
            <input type="radio" name="month" id="may" value="may">
            <span>May</span>
        </label>
        <label>
            <input type="radio" name="month" id="june" value="june">
            <span>June</span>
        </label>
        <label>
            <input type="radio" name="month" id="july" value="july">
            <span>July</span>
        </label>
        <label>
            <input type="radio" name="month" id="august" value="august">
            <span>Aug.</span>
        </label>
        <label>
            <input type="radio" name="month" id="september" value="september">
            <span>Sept.</span>
        </label>
        <label>
            <input type="radio" name="month" id="october" value="october">
            <span>Oct.</span>
        </label>
        <label>
            <input type="radio" name="month" id="november" value="november">
            <span>Nov.</span>
        </label>
        <label>
            <input type="radio" name="month" id="december" value="december">
            <span>Dec.</span>
        </label>
        <label id="all-label">
            <input type="radio" name="month" id="all" value="all">
            <span>All</span>
        </label>
    </div>

    <div id="output">
        <h1>Fish</h1>
        <table id="fish"></table>
        
        <h1>Bugs</h1>
        <table id="bugs"></table>
    </div>

    <script src="{{url_for('static', filename='update.js')}}"></script>

</body>
</html>